.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  padding-bottom: 48px;
  transform: translate(-50%, -100%);
  width: 320px;
  opacity: 1;
  transition: opacity 0.3s linear;
  pointer-events: none;
}

.container-hidden {
  opacity: 0;
}

.content {
  padding: 16px 24px;
  background-color: rgba(0 0 0 / 60%);
  box-sizing: border-box;
  border-radius: 4px;
}

.title {
  padding-bottom: 8px;
  display: block;
  color: #f1f1f1;
  font-size: 19px;
  line-height: 28px;
  font-weight: bold;
}

.text {
  display: block;
  color: #d4d4d4;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.aim {
  position: absolute;
  bottom: 0;
  width: 64px;
  height: 64px;
  transform: translateY(32px);
  background: url('/xiaomi-scooter/aim.svg');
  background-size: cover;
}

@media screen and (min-width: 600px) {
  .container {
    width: 500px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 320px;
  }
}
